.contact__button_send,
.contact__button_send__disabled {
    min-width: 114px;
    padding: 10px 16px;
    border-radius: 4px;
    background: var(--main-button-color);

    color: var(--main-button-text-color);
    text-align: center;
    font-feature-settings: "calt" off;

    font-family: var(--font-main);
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: -0.16px;

    cursor: pointer;
}

.contact__button_send:hover {
    background: var(--main-button-hover-color);
}

.contact__button_send__disabled {
    background: var(--main-button-disabled-color);
    color: var(--main-button-disabled-text-color);
    cursor: default;
}
